body {
    background-color: rgb(32, 32, 32);
    margin: 0;
}

#root {
    background-color: rgb(32, 32, 32);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    width: 90vw;
    height: 90vh;
}